div.image-container img.col-md-12{
    height: 33vw;
    overflow: hidden;
    padding: 0;
    transition: 500ms;
}
div.image-container{
    height: 33vw;
    overflow: hidden;
}

.image-label{
    z-index: 100;
    cursor: pointer;
}

@media screen and(orientation: portrait){
    div.image-container img.col-md-12{
        height:  100vw!important;
        overflow: hidden;
        padding: 0;
        transition: 500ms;
    }
    
div.image-container{
        height: 100vw !important;
    overflow: hidden;
}
}