
.image-label{
    z-index: 100;
    cursor: pointer;
}

.image-menu{    
    margin-left: 1%;
    margin-right: 1%;
}

a.image-container img.col-md-12{
    overflow: hidden;
    min-width: 33vw;
    width: auto;
    height: auto;
    padding: 0 !important;
    /* transition: 500ms; */
}

a.image-container{
    padding: 0 !important;
    overflow: hidden;
}

a.image-container {
    text-decoration: none;
}

@media (orientation: landscape){
    a.image-container img.col-md-12{
        max-height: 33vw;
        width: auto;
        height: auto;
    }
    a.image-container{
        max-height: 33vw;
        width: auto;
        height: auto;
    }
}

@media (orientation: portrait){
    a.image-container img.col-md-12 {
        max-height:  80vw!important;
        width: auto;
        height: auto;
    }
    
    a.image-container{
        max-height: 80vw !important;
        height: auto;
        width: auto;
    }
}