.UnderConstruction .GearIcon {
    width: 9em;
    animation: twoSpin 4s infinite ease-in-out;
}

.UnderConstruction .LittleGearIcon {
    width: 6em;
    margin-left: -0.2em;
    animation: twoSpinOffset 4s infinite ease-in-out reverse;
    transform: rotate(30deg)
}

.fake-tag{
    text-transform: none;
}


@keyframes twoSpin{
    from{
        transform:  rotate(0deg);
    }
    to{
        transform:  rotate(720deg);
    }
}
@keyframes twoSpinOffset{
    from{
        transform:  rotate(30deg);
    }
    to{
        transform:  rotate(750deg);
    }
}