.App {
  text-align: center;
  background-color: #1E1E1F;
  padding-bottom: 10px;
}

a {
  color: lightsteelblue;
}

html{
  background-color: #1E1E1F;
}

.panel-title{
  font-size: 1.5em;
}

.full-row{
  width: 100%;
}

h1::first-letter, h2::first-letter, h3::first-letter, h4::first-letter{
  font-size: 120% ;
  text-transform: uppercase;
}
html body div p {
  text-align: left;
}


h1, h2, h3, h4{
  font-size: 100%;
  text-transform: uppercase;
  letter-spacing: 0.125em;
}

.header-bar{
  color: lightsteelblue; 
  background-color: #222222;
  text-transform: uppercase;
  z-index: 100;
  padding-bottom: 2%;
  padding-bottom: 1em;
  box-shadow: 3px #444433;
}

.background-img-parallax{
  position:absolute; 
  top: 0px; 
  z-index: -1;
  left: 0px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.page-contents-panel{
  width: 100%;
}

.App-link {
  color: #61dafb;
}

div.image-container{
  position: relative;
  padding: 0;
  display: inline;
}
div.image-container img{
  width: 100%;
}

.image-label{
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  padding-top: 40%;
  background: black; 
  opacity: 0;
  position: absolute;
  height: 100%;
}

.image-label:hover, .image-label:active{
  opacity: 0.7;
}

nav div.container{
  width: 100vw;
  max-width: 100vw;
  padding: 0;
}

hr{
  background: lightsteelblue;
}

div:hover > .stylized-underline, div:active > .stylized-underline{
  width: 10%;
}
.hyperlink:hover{
  cursor: pointer !important;
}

hr.stylized-underline{
  width: 2%; 
  margin-top: 0;
  transition: 500ms all;
}

@media screen and(orientation: landscape){
  * {
    font-size: 2vw;
  }
}

@media screen and(orientation: portrait){
  * {
    font-size: 2vh;
  }
}