.App {
  text-align: center;
  background-color: #EEEEEE;
  padding-bottom: 10px;
}
html{
  background-color: #EEEEEE;
}

.header-bar{
  background: white;
  z-index: 100;
  padding-bottom: 2%;
  border: 1px solid #DDDDDD;
  padding-bottom: 1em;
  margin-bottom: 1em;
  box-shadow: 3px #AAAAAA;
}

.background-img-parallax{
  position:absolute; 
  top: 0px; 
  z-index: -1;
  left: 0px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.page-contents-panel{
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
